@charset "utf-8";

/*#0076BE #E66B27*/
*{
    padding: 0;
    margin: 0;
    font-family: "맑은 고딕";
    box-sizing: border-box;
    color: #333;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
body{
    background: #fff;
    position: relative;
}
.wrap{
    width: 1200px;
    margin: 0 auto;
}
.bg{
    width: 100vw;
    height: 100px;
    position: absolute;
    left: 0;
    z-index: 0;
}
.bg_h{
    background: #80c7f2;
}
.bg_f{
    background: #ffd1b7;
}

/*헤더 영역*/
header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 20;
}

header> .nav{
    height: 50px;
    display: flex;
}
.nav li a{
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.nav li:hover > a{
    color: #fff;
    background: #0076BE;
}
.nav> li> a{
    height: 50px;
    font-size: 18px;
    font-weight: bold;
}
.sub{
    height: 160px;
    display: none;
    background: #fff;
}
.sub> li> a{
    height: 40px;
    font-size: 15px;
}


/*이미지 슬라이드*/
#slide{
    height: 300px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}
#slide> a{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    display: block;
}
#slide a:nth-child(1){left: 0;}
#slide> a> img{
    width: 100%;
    height: 100%;
}

/*콘텐츠 영역*/
#contents{
    height: 200px;
    display: flex;
}
#contents> div{
    width: 33.33%;
    height: 100%;
    padding: 10px;
}
.tab_b{
    display: flex;
}
.tab_b> a{
    display: inline-block;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #E66B27;
    border-radius: 10px 10px 0 0;
    font-size: 17px;
    font-weight: bold;
}

.tab_c> ul{
    height: 140px;
    justify-content: space-between;
    display: none;
}
.tab_c> .notice{
    flex-direction: column;
}
.tab_c> .notice a:hover{
    color: #0076BE;
    text-decoration: underline;
}
.tab_c> .gall{
    align-items: center;
}
.tab_c> .gall img{
    width: 100px;
}

.tab_b> a.on{
    background: #ffc19f;
}
.tab_c> ul.on{
    display: flex;
}

.banner img, .go img{
    width: 380px;
    height: 180px;
}
/*푸터영역*/
footer{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 20;
}
footer> .right_f{
    width: 1000px;
    height: 100%;
    text-align: center;
}
footer> .right_f> ul{
    height: 70%;
    width: 400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer> .right_f> ul a{
    margin: 0 10px;
}
footer> .right_f> ul a:hover{
    color: #0076BE;
    text-decoration: underline;
}

/*팝업화면*/
.popup{
    width: 500px;
    height: 300px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1pz solid #333;
    z-index: 50;
    display: none;
}
.popup> h2{
    border-bottom: 1px solid #333;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.popup> button{
    padding: 5px 10px;
    font-size: 15px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}