@charset "uft-8";

/*초기화*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #222328;
    font-family: "맑은 고딕";
}
ul, li{
    list-style: none;
}
a{
    display: inline-block;
    color: #222328;
    text-decoration: none;
}
body{
    background: #fff;
}
/*감싸기*/
.wrap{
    width: 1000px;
    height: 650px;
    display: flex;
}
.left{
    width: 200px;
    height: 100%;
    position: relative;
    z-index: 10;
}
.right{
    width: 800px;
    height: 100%;
    position: relative;
    z-index: 0;
}
/* header 영역*/
header{
    width: 200px;
    height: 100%;
    position: relative;
    z-index: 10;
}
header> h1{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header> a> img{
    width: 100%;
}

/*메뉴*/
header> ul{
    margin: 20px;
}
header> ul> li{
    position: relative;
}
header> ul li:hover > a{
    color: #fff;
    background: #7b6b5b;
}
header> ul> li> a{
    width: 100%;
    height: 40px;
    background: #c3a98f;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .sub{
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
}
header .sub> li> a{
    width: 180px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eddac7;
}

/*슬라이드*/
#slide{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}
#slide> .img{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}
#slide> .img:nth-child(1){
    display: block;
}
#slide> .img> img{
    width: 100%;
    height: 100%;
}
#slide> .img> p{
    position: absolute;
    top: 30%;
    left: 30%;
    background: rgba(250, 191, 191, 0.5);
    padding: 10px 20px;
    border-radius: 15px;
}

/*콘텐츠*/
#contents{
    height: 200px;
    display: flex;
}
#contents> div> h2{
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid #000;
}
.notice, .gall{
    width: 35%;
    height: 100%;
}
.notice> ul{
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.notice> ul> li> a:hover{
    color: #7b6b5b;
    text-decoration: underline;
}
.gall> ul{
    height: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.gall img{
    width: 80px;
}
.go{
   width: 30%;
    height: 100%;
}
.go img{
    width: 100%;
    height: 130px;
}
/*footer*/
footer{
    width: 100%;
    height: 100px;
    display: flex;
}
footer> .copy{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
footer> .f_right{
    width: 40%;
    height: 100%;
    text-align: center;
}
footer> .f_right> ul{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer> .f_right img{
    width: 50px;
}
footer> .f_right> select{
    width: 40%;
    height: 30px;
}

/*팝업창*/
#popup{
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
}
.bg{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
.popup{
    width: 500px;
    height: 300px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}
.popup> h3{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
    font-size: 20px;
}
.popup> button{
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 5px 20px;
    font-style: 17px;
}